<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>My Web Application</display-name>
    
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>com.Servlets.MovieServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/MovieServlet</url-pattern>
    </servlet-mapping>
    
 <servlet>
    <servlet-name>DisplayMovies</servlet-name>
    <servlet-class>com.Servlets.DisplayMovies</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DisplayMovies</servlet-name>
    <url-pattern>/DisplayMovies</url-pattern>
</servlet-mapping>
 <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.example.BookingServlet</servlet-class>
    </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>SeatServlet</display-name>
 	<servlet-name>SeatServlet</servlet-name>
 	<servlet-class>com.Servlets.SeatServlet</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>ShowTimingsServlet</display-name>
 	<servlet-name>ShowTimingsServlet</servlet-name>
 	<servlet-class>com.Servlets.ShowTimingsServlet</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>TheaterServlet</display-name>
 	<servlet-name>TheaterServlet</servlet-name>
 	<servlet-class>com.Servlets.TheaterServlet</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>Search</display-name>
 	<servlet-name>Search</servlet-name>
 	<servlet-class>com.Servlets.Search</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>ShowTimeServlet</display-name>
 	<servlet-name>ShowTimeServlet</servlet-name>
 	<servlet-class>com.Servlets.ShowTimeServlet</servlet-class>
 	</servlet>
 	<servlet>
 	<display-name>ShowServlet</display-name>
 	<servlet-name>ShowServlet</servlet-name>
 	<servlet-class>com.Servlets.ShowServlet</servlet-class>

 </servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>AddShowServlet</display-name>
 		<servlet-name>AddShowServlet</servlet-name>
 		<servlet-class>com.Servlets.AddShowServlet</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>UpdateShowServlet</display-name>
 		<servlet-name>UpdateShowServlet</servlet-name>
 		<servlet-class>com.Servlets.UpdateShowServlet</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>EditShowServlet</display-name>
 		<servlet-name>EditShowServlet</servlet-name>
 		<servlet-class>com.Servlets.EditShowServlet</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>RemoveShowServlet</display-name>
 		<servlet-name>RemoveShowServlet</servlet-name>
 		<servlet-class>com.Servlets.RemoveShowServlet</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>TheaterServletU</display-name>
 		<servlet-name>TheaterServletU</servlet-name>
 		<servlet-class>com.Servlets.TheaterServletU</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>UserServlet</display-name>
 		<servlet-name>UserServlet</servlet-name>
 		<servlet-class>com.Servlets.UserServlet</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>DisplayTicket</display-name>
 		<servlet-name>DisplayTicket</servlet-name>
 		<servlet-class>com.Servlets.DisplayTicket</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>EditServlet</display-name>
 		<servlet-name>EditServlet</servlet-name>
 		<servlet-class>com.Servlets.EditServlet</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>RemoveServlet</display-name>
 		<servlet-name>RemoveServlet</servlet-name>
 		<servlet-class>com.Servlets.RemoveServlet</servlet-class>
 	</servlet>

    
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SeatServlet</servlet-name>
    	<url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShowTimingsServlet</servlet-name>
    	<url-pattern>/ShowTimingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>TheaterServlet</servlet-name>
    	<url-pattern>/TheaterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Search</servlet-name>
    	<url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShowTimeServlet</servlet-name>
    	<url-pattern>/ShowTimeServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>ShowServlet</servlet-name>
    	<url-pattern>/ShowServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddShowServlet</servlet-name>
		<url-pattern>/AddShowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateShowServlet</servlet-name>
		<url-pattern>/UpdateShowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditShowServlet</servlet-name>
		<url-pattern>/EditShowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveShowServlet</servlet-name>
		<url-pattern>/RemoveShowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TheaterServletU</servlet-name>
		<url-pattern>/TheaterServletU</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserTable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayTicket</servlet-name>
		<url-pattern>/ticket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/Edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveServlet</servlet-name>
		<url-pattern>/RemoveServlet</url-pattern>
	</servlet-mapping>
    
</web-app>
